<div class="footer-div">
    <div class="footerlinks-div">
        <h1 class="footer-title">QUICK LINKS</h1>
        <ul class="footerlinks-ul">
            <li><a class="footer-a" href="#">Chi siamo</a></li>
            <li><a class="footer-a" href="#">Dove siamo</a></li>
            <li><a class="footer-a" href="#">News da Caturnalia</a></li>
            <li><a class="footer-a" href="#">Archivio Tornei</a></li>
            <li><a class="footer-a" href="#">Galleria</a></li>
            <li><a class="footer-a" href="#">Didattica</a></li>
            <li><a class="footer-a" href="#">Calendario Tornei</a></li>
        </ul>
    </div>
    <div class="footercontacts-links-div">
        <div class="footercontacts-div">
            <h1 class="footer-title">CONTATTI</h1>
            <i class="fa fa-envelope"></i>
            <a class="footer-a" href="mailto: cruzelis@gmail.com">cruzelis@gmail.com</a>
        </div>
        <div class="footerlinks-div">
            <h1 class="footer-title">SOCIAL</h1>
            <a href="https://www.facebook.com/caturinalia.scacchi" target="_blank" rel="noopener noreferrer" class="footer-a"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
    </div>
    <div class="footeraboutus-div">
        <h1 class="footer-title">SU DI NOI</h1>
        <div style="font-weight: bolder;  color: rgb(102, 102, 102);">
            <p>Caturnalia è stata fondata da un gruppo di amici appassionati del gioco degli scacchi.</p>
            <p>Vogliamo avere un luogo dove si possa giocare a scacchi pensati o lampo,</p>
            <p>analizzare una partita o studiare, ma anche ridere e scherzare, </p>
            <p>perchè gli scacchi sono forse un gioco difficile, ma restano comunque un gioco.</p>
        </div>
    </div>
</div>
<div class="firm-div">
    <div class="firm-text">Made with <span style="color:red">❤</span> by
        <a href="https:\\andreagrisafi.it" target="_blank" rel="noopener noreferrer" class="footer-a">
            <strong>Sgri</strong></a>
    </div>
</div>