<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navbar">
    <div class="full-nav">
        <div class="nav-logo">
            <a class="navbar-brand" href="/index.html#videoBG" id="navvideoBG"><img src="/../assets/img/logo.png" alt="logo" height="90" width="90" id="logo"> </a>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav ml-auto bg-light">
                <li class="active dropdown">
                    <a class="nav-link" href="#">About</a>
                    <!-- About dropdown-->
                    <ul class="nav dropdown-content bg-light">
                        <li class="nav-item active">
                            <a id="navabout" href="/index.html#about">About us </a>
                        </li>
                        <li class="nav-item active">
                            <a id="navnews" href="/index.html#news">Ultime news </a>
                        </li>
                        <li class="nav-item active">
                            <a id="navchisiamo" href="/index.html#chisiamo">Chi siamo </a>
                        </li>
                        <li class="nav-item active">
                            <a id="navdovesiamo" href="/index.html#dovesiamo">Dove Siamo </a>
                        </li>
                    </ul>
                </li>
                <li class="active dropdown">
                    <a class="nav-link" href="#">Archivio </a>
                    <!-- Archivio dropdown-->
                    <ul class="nav dropdown-content bg-light">
                        <li class="nav-item active">
                            <a class="" href="/archivioNews.html">Archivio News </a>
                        </li>
                        <li class="nav-item active">
                            <a class="" href="/archivioTornei.html">Archivio Tornei </a>
                        </li>
                        <!-- <li class="nav-item active">
                            <a class="" href="#">Galleria </a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li class="active dropdown">
                    <a class="nav-link" href="#">Attività </a>
                    <ul class="nav dropdown-content bg-light">
                        <li class="nav-item active">
                            <a class="" href="#">Calendario </a>
                        </li>
                        <li class="nav-item active">
                            <a class="" href="#">Didattica </a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<div class="loader-wrapper">
    <picture>
        <source srcset="/../assets/img/pawnloading.webp" type="image/webp">
        <source srcset="/../assets/img/pawnloading.png" type="image/png">
        <img src="/../assets/img/pawnloading.png" class="loader" alt="chess-pawn-loader">
    </picture>
</div>