<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navbar">
    <div class="full-nav">
        <div class="nav-logo">
            <a class="navbar-brand" href="/index.html#videoBG" id="navvideoBG"><img src="/../assets/img/logo.png" alt="logo" height="90" width="90" id="logo"> </a>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav ml-auto bg-light">
                <li class="active dropdown">
                    <a class="nav-link" href="/index.html#videoBG">Home </a>
                </li>
                <li class="active dropdown">
                    <a class="nav-link" href="/archivioNews.html">Archivio News </a>
                </li>
                <li class="active dropdown">
                    <a class="nav-link" href="/archivioTornei.html">Archivio Tornei </a>
                </li>
                <li class="active dropdown">
                    <a class="nav-link" href="/keizer.html">Keizer </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="loader-wrapper">
    <picture>
        <source srcset="/../assets/img/pawnloading.webp" type="image/webp">
        <source srcset="/../assets/img/pawnloading.png" type="image/png">
        <img src="/../assets/img/pawnloading.png" class="loader" alt="chess-pawn-loader">
    </picture>
</div>