@use 'navbar';
@use 'loader';
@use 'footer';

/* LAYOUT */

@font-face {
    font-family: OpenSans-Light;
    src: url('../img/OpenSans-Light.ttf');
}

html,
body {
    overflow-x: hidden;
    font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
}

main {
    display: none;
}

section {
    /*Fix the navigation with fixed navbar*/
    padding-top: 80px;
    margin-top: -80px
}