@use 'variables';
@use 'base';
.newsCat-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../img/newsBG.jpg");
    overflow-x: hidden;
    margin-top: 0;
    min-height: 100vh;
    text-align: center;
}

.newsCat-title {
    color: white;
    font-size: 6vw;
    margin-bottom: 3%;
}

.newsCat-div {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.8);
}

.newsCat-ul {
    list-style: none;
    padding: 0;
}

.newsCat-li {
    margin-top: 1%;
}

.newsCat-a {
    color: variables.$standard-red;
    font-size: 1.5vw;
}

.newsCat-a:hover {
    color: black!important;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .newsCat-a {
        font-size: 4.5vw;
    }
}